.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.game-card {
    border: 1px solid black;
    width: 40vw;
    height: 35vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #fabfb8
}

button {
    border: none;
    padding: 10px 10px;
    outline: none;
    width: 80px
}

.answer-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
}

button:hover {
    color: #fabfb8;
    background-color: #3f474c;
    font-weight: bold;
}

.question {
    display: flex;
    flex-direction: column;
}

#question-text {
    margin-top: 10px;
}

#question-number {
    text-decoration: underline;
}

.each-answer-button {
    width:initial;
}

.post-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restart {
    margin-top: 30px;
    width: auto;
    background: yellowgreen
}