@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

.header-container {
    background: #8fc6c4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    background-color: #c7e6d7;
    border: 1px solid #fabfb8;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color:black;
}

#title {
    font-size: 3rem;
    letter-spacing: 5px;
    margin-top: 20px;
    font-family: 'Sedgwick Ave Display', cursive;
    color: #3f474c;
    text-shadow: 2px 2px #fabfb8;
    text-align: center;
}

.element {
    padding: 13px 40px;
}

.element:hover {
    background-color: #fbf4e9;
}