.hswordcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 150px;
}

.high-score-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
}